<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <div class="chat">
    <%= render "main_calendar" %>
    <%= month_calendar calendars: @calendars do |date, events| %>
      <%= date.day %>
    <% end %>
  </div>
</div>
    
</div>
